body {
  background-color: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  color: #ff4c4c;
}

h2 {
  margin-left: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
..header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  color: red;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.3s;
}
.nav a:hover {
  background-color: #222;
  color: red;
  }
.search-box {
  display: flex;
  align-items: center;
  background-color: #1e293b;
  padding: 15px 20px;   /* bigger padding */
  border-radius: 15px;
  width: 95%;           /* more width */
  max-width: 600px;     /* clean limit */
  margin: 25px auto;
}

.search-icon {
  font-size: 22px;
}

#search {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 16px;
  width: 100%;
}

.search-box:focus-within {
  box-shadow: 0 0 10px red;
}
.nav a:hover {
  background-color: #222;
  color: red;
  transform: scale(1.1);
  }

.card {
  background-color: #1e293b;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}
.login-box {
  width: 300px;
  margin: 100px auto;
  background-color: #1e293b;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.login-box h1 {
  color: red;
}

.login-box input {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: darkred;
}
